@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Source+Sans+Pro&display=swap');

body {
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1170px;
    
    
}

#wrapper {
    margin: 0px auto;
}

header:hover{
    background: #e6e2e2;
    border-bottom: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #5C4D48;
    padding: 10px 0px;
    transition: all 0.5s ease-in-out;
    
}

    header.sticky {
        background: #5C4D48;
        opacity: 0.95;
        padding: 5px 0px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    }

        header.sticky #main-menu a {
            color: #fff;
        }



    .logo-header {
        padding: 5px, 0px;
        display: block;
        
    }

#logo-header img{
    max-width: 100px;
    height: auto;
}

#gami {
    width: 100px;
    height: 40px;
    display:block;
}

.clearfix {
    clear: both;
}

.search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    /*Input setup*/

    .search-box .input-box {
        position: relative;
        background: #fff;
        padding: 5px;
        border-radius: 10px;
        width: 0px;
        transition: 0.5s;
    }

        .search-box .input-box.active {
            width: 150px;
        }

        .search-box .input-box input {
            width: 100%;
            background: none;
            padding-right: 50px;
            border: none;
            outline: none;
            color: none;
            font-size: 13px;
        }

            .search-box .input-box input::placeholder {
                color: #000;
            }

    /*Search -button*/
    .search-box .search-button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #3A3330;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        box-shadow: 0 0 0 10px #3A3330;
        cursor: pointer;
    }

    .search-box .searvh-button img {
        width: 20px;
        height: 20px;
    }

    .search-box:hover > .input-box {
        width: 150px;
    }

.account-cart {
    width: 96px;
    height: 40px;
    display: block;
    padding: 0px;
    margin: 0px;
}


.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#main-menu {
    display: flex;
    padding-left: 80px;
}

    ul#main-menu a {
        padding: 10px 30px;
        display: block;
        color: #3A3330;
        font-weight: 400;
        font-size: 26px;
        font-family: 'Baloo 2', cursive;
        position: relative;
    }

        ul#main-menu a::before {
            content: attr(data-loading-text);
            color: #F69946;
            white-space: nowrap;
            width: 0%;
            overflow: hidden;
            padding: 0px;
            position: absolute;
            transition: all 0.25s;
        }

        ul#main-menu a:hover::before{
            width: 100%;
        }

    ul#main-menu ul.sub-menu {
        position: absolute;
        background-color: #e6e2e2;
        padding: 15px 0px;
        width: 200px;
        border-radius: 10%;
        margin-top: 0px;
        display: none;
    }

    ul#main-menu li:hover > ul.sub-menu {
        display: block;
    }

        ul#main-menu ul.sub-menu a {
            padding: 5px 15px;
            font-size: 20px;
            font-weight: 100;
        }
        ul#main-menu ul.sub-menu li:first-child a{
            border: none;
        }

#main-menu .sub-menu li:hover a {
    color: #F69946;
}

#main-menu > li.has-child::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #3A3330;
    position: absolute;
    top: 30px;
    margin-left: 10px;
    padding: 12px 0px;
}

#main-menu > li.has-child:hover::after {
    color: #F69946;
}

#banner {
    background: url(images/banner2.svg);
    min-height: 600px;
    width: 100%;
    background-size: cover;
}

.content h1 {
    padding: 30px 0px;
}
